<footer class="footer bg-neutral text-neutral-content p-10 mt-12">
  <nav>
    <h6 class="footer-title font-script italic text-xl">Navigation</h6>
    <%= link_to "Agenda", evenements_path, class: "link link-hover" %>
    <%= link_to "À propos", about_path, class: "link link-hover" %>
    <%= link_to "Contact", contact_form_url, target: "_blank", rel: "noopener", class: "link link-hover" %>
  </nav>
  <nav>
    <h6 class="footer-title font-script italic text-xl">Légal</h6>
    <a href="#" class="link link-hover">Mentions légales</a>
    <a href="#" class="link link-hover">Politique de confidentialité</a>
  </nav>
  <div>
    <%= render 'shared/newsletter_signup' %>
  </div>
</footer>
