<%= turbo_stream.replace "page-#{params[:page]}" do %>
  <%= render "events_list", events: @events %>

  <%# Next page trigger %>
  <% if @pagy.next %>
    <%= turbo_frame_tag "page-#{@pagy.next}",
                        src: evenements_path(page: @pagy.next, format: :turbo_stream),
                        loading: :lazy do %>
      <div class="text-center py-8">
        <span class="loading loading-spinner loading-md text-primary"></span>
      </div>
    <% end %>
  <% end %>
<% end %>
